@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR:wght@100..400&display=swap');


body {
    font-family: 'Playwrite HR';
    background-color: #f0e68c;
    color: #333;
    text-align: center;
}
.recipe-link {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
    margin: 20px;
    text-decoration: none;
    color: #333;
}
.recipe-link img {
    width: 200px;
    height: auto;
}
